<div style="margin-left:45%;">
  <button printSectionId="op_SI_2" ngxPrint>Export Page to PDF</button> 
</div>
<div class="page" id="op_SI_2" style="font-size: 14px;">
  <h4 style="text-align:center;">คำสั่งของเจ้าพนักงานควบคุมโรคติดต่อ</h4>
  <div class="col-12" style="text-align: center;">
    ตามประกาศกระทรวงสาธารณสุข
  </div>
  <div class="col-12" style="text-align: center;">
    เรื่อง หลักเกณฑ์ วิธีการ และเงื่อนไขในการดำเนินการหรือออกคำสั่ง ของเจ้าพนักงานควบคุมโรคติดต่อ พ.ศ. 2560
  </div>
  <div class="row" style="text-align: left;margin-top: 5%;">
    <div class="col-6">
      คำสั่งเลขที่ {{order_number}} /....2565………
    </div>
    <div class="col-6" style="text-align: right;">
      เขียนที่ .ศูนย์สุขภาพชุมชนประชาอุทิศ 
    </div>
    <div class="col-12" style="text-align: right;">วันที่ {{ day }} เดือน {{ month }} พ.ศ. 2565</div>
  </div>
  <div class="col-12">
    อาศัยอำนาจตามความในมาตรา34 แห่งพระราชบัญญัตโรคติดต่อ พ.ศ. 2558 ประกอบกับข้อ 2 แห่งประกาศกระทรวงสาธารณสุข เรื่อง หลักเกณฑ์ วิธีการ และเงื่อนไขในการดำเนินการหรือออกคำสั่งของเจ้าพนักงานควบคุมโรคติดต่อ พ.ศ.    2560
  </div>
  <div class="col-12">
    ข้าพเจ้า (นาย/นาง/นางสาว) {{name}} ตำแหน่งเจ้าพนักงานควบคุมโรคติดต่อ
  </div>
  <div class="col-12">
    สังกัด/หน่วยงาน …ศูนย์สุขภาพชุมชนประชาอุทิศ........เทศบาลนครพิษณุโลก  ได้พบว่า
    <label class="form-check-label " for="flexRadioDefault2">
      <input class="form-check-input m-1 " type="checkbox" value="" id="flexRadioDefault2" checked>
      เกิดโรคติดต่ออันตราย
    </label>
  </div>
  <div class="col-12">
    <label class="form-check-label " for="flexRadioDefault3">
      <input class="form-check-input m-1 " type="checkbox" value="" id="flexRadioDefault3" checked>
      เกิดโรคระบาด
    </label>
    <label class="form-check-label " for="flexRadioDefault3">
      <input class="form-check-input m-1 " type="checkbox" value="" id="flexRadioDefault3" checked>
      สงสัยว่าเกิดโรคติดต่ออันตราย
    </label>
    <label class="form-check-label " for="flexRadioDefault3">
      <input class="form-check-input m-1 " type="checkbox" value="" id="flexRadioDefault3" checked>
      สงสัยว่าเกิดโรคระบาด ได้แก่ โรค COVID-19
    </label>
  </div>
  <div class="col-12">
    ณ  พื้นที่จังหวัดพิษณุโลก  
  </div>
  <div class="col-12">
    จึงมีคำสั่งให้ (ชื่อ - นามสกุล) {{namesickness }} อายุ {{agesickness }} ปี สัญชาติ {{nationalitysickness}} เพศ
    <label class="form-check-label " for="man">
      <input class="form-check-input m-1 " type="checkbox" value="" id="man" checked>
      ชาย
    </label>
    <label class="form-check-label " for="girl">
      <input class="form-check-input m-1 " type="checkbox" value="" id="girl" checked>
      หญิง 
    </label>
  </div>
  <div class="col-12">
    เลขบัตรประจำตัวประชาชน/เลขที่หนังสือเดินทาง {{ card_id }}
  </div>
  <div class="col-12">
    หมายเลขโทรศัพท์ {{ tell }}
  </div>
  <div class="col-12">
    ที่อยู่ที่สามารถติดต่อได้ ตั้งอยู่เลขที่ {{ address_number }} หมู่บ้าน/อาคาร {{ address_g }} ถนน {{address_road}} 
  </div>
  <div class="col-12">
    ตำบล/แขวง ในเมือง อำเภอ/เขต เมือง  จังหวัด พิษณุโลก 
  </div>
  <div class="col-12">
    ดำเนินการดังต่อไปนี้
  </div>
  <div class="col-12">
    (9) ห้ามเข้าไป/ออกจาก {{ address_quarantine }}
  </div>
  <div class="col-12">
    ตั้งแต่วันที่   เดือน   พ.ศ.  2565  เวลา น.
  </div>
  <div class="col-12">
    ถึงวันที่   เดือน   พ.ศ.  2565  เวลา  น. 
  </div>
  <div class="col-12">
    เพื่อเฝ้าระวัง ป้องกัน และควบคุมมิให้มีการแพร่ของโรค โควิด-19 
  </div>
  <div class="col-12" style="margin-left: 25px;">
    อนึ่ง เจ้าพนักงานควบคุมโรคติดต่อมีอำนาจที่จะเข้าดำเนินการด้วยตนเองหรือมีคำสั่งให้บุคคลอื่นกระทำการแทนได้ 
  </div>
  <div class="col-12">
    หากท่านไม่พอใจคำสั่ง  หรือเห็นว่าไม่ได้รับความเป็นธรรม ท่านมีสิทธิอุทธรณ์คำสั่งนี้ต่อเจ้าพนักงานควบคุมโรคติดต่อผู้ทำคำสั่งได้ ภายใน 15 วัน นับแต่วันที่ได้รับทราบคำสั่งนี้
  </div>
  <div class="row">
    <div class="col">
      <div style="margin-top: 10%;">
        <label class="text-body-input"> &nbsp; &nbsp; &nbsp;
            &nbsp;
            (ลงชื่อ)........................................</label><br>
        <label class="text-body-input">&nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; (........................................)</label><br>
            <label class="text-body-input"> &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              เจ้าพนักงานควบคุมโรคติดต่อ</label>
      </div>
    </div>
    <div class="col">
      <div style="margin-top: 10%;">
        <label class="text-body-input"> &nbsp; &nbsp; &nbsp;
            &nbsp;
            (ลงชื่อ)........................................</label><br>
        <label class="text-body-input">&nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; (........................................)</label><br>
            <label class="text-body-input"> &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              ผู้รับคำสั่ง</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div style="margin-top: 10%;">
        <label class="text-body-input"> &nbsp; &nbsp; &nbsp;
            &nbsp;
            (ลงชื่อ)........................................</label><br>
        <label class="text-body-input">&nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; (........................................)</label><br>
            <label class="text-body-input"> &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              พยาน (ถ้ามี)</label>
      </div>
    </div>
    <div class="col">
      <div style="margin-top: 10%;">
        <label class="text-body-input"> &nbsp; &nbsp; &nbsp;
            &nbsp;
            (ลงชื่อ)........................................</label><br>
        <label class="text-body-input">&nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; (........................................)</label><br>
            <label class="text-body-input"> &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              พยาน (ถ้ามี)</label>
      </div>
    </div>
  </div>
  <p style="margin-top: 5%;">
    หมายเหตุ กรณีที่เจ้าพนักงานควบคุมโรคติดต่อเห็นว่ามีคำหรือข้อความที่มีผลบังคับเกินกว่าวัตถุประสงค์ของคำสั่งที่เจ้าพนักงาน ควบคุมโรคติดต่อต้องการจะบังคับ ให้เจ้าพนักงานควบคุมโรคติดต่อขีดฆ่าคำหรือข้อความดังกล่าวพร้อมทั้งลงลายมือชื่อกำกับไว้ 
  </p>
</div>