<div style="margin-left:45%;">
  <button printSectionId="op_SI_2" ngxPrint>Export Page to PDF</button> 
</div>
<div class="page" id="op_SI_2" style="font-size: 14px;">
  <div class="text-center"style="text-align: center">
    <img src="assets/image/logo3.png" class="rounded" alt="logo" width="100" height="100">
  </div>
  <h4 style="text-align:center;">หนังสือแสดงความยินยอมรับการดูแล รักษา โดยการแยกกักตัวที่บ้าน (Home Isolation : HI )
    เนื่องจากการติดเชื้อไวรัส SARS-CoV-2 หรือ เป็นโรคโควิด 19</h4>
  <div class="col-12" style="text-align: right;">วันที่ {{ day }} เดือน {{ month }} พ.ศ. 2565</div>
  <div class="col-12" style="margin-left: 20px;">
    ข้าพเจ้า {{ fullname }} อายุ {{ age }} ปี
  </div>
  <div class="col-12">
    เลขที่บัตรประจำตัวประชาชน {{ card_id }} เกิดวันที่ {{day_b}} เดือน {{month_b}} พ.ศ {{year_b}}
  </div>
  <div class="col-12">
    ข้าพเจ้าเป็นผู้ปกครอง/ผู้มีอำนาจกระทำการแทน โดยมีความสัมพันธ์เป็น {{ relationship }} 
  </div>
  <div class="col-12">
    ของ ด.ช./ด.ญ./นาย/นาง/นางสาว {{ fullname_sickness }}
  </div>
  <div class="col-12">
    เลขที่บัตรประจำตัวประชาชน {{ card_id_sickness }} เกิดวันที่ {{ day_sickness }} เดือน {{ month_sickness }} พ.ศ {{ year_sickness }}
  </div>
  <div style="margin-left: 25px;">
    <div class="col-12">
      ผลการตรวจ ATK พบว่ามีการติดเชื้อไวรัสโคโรนา 2019  วันที่ {{ find_day }} เดือน {{ find_month }} พ.ศ. 2565
    </div>
    <div class="col-12">
      เลขที่คำสั่งของเจ้าพนักงานควบคุมโรคติดต่อ {{ order_number }} / 2565 
    </div>
    <div class="col-12">
      เลขที่ระบบการจัดการดูแลผู้ป่วยโควิด-19ที่บ้าน (HI) {{ patient_care }}
    </div>
    <div class="col-12">
      ข้าพเจ้าเข้ากักตัวที่บ้านเลขที่ {{ detained_home }} ซอย {{ detained_alley }} ถนน {{detained_road}} ตำบลในเมือง อำเภอเมืองจังหวัดพิษณุโลก  เบอร์โทรศัพท์ {{detained_tell}}
    </div>
  </div>
  <div class="col-12">
    ชื่อผู้ใกล้ชิดที่ติดต่อได้ {{ close_person_address }} เบอร์โทรศัพท์ {{ close_person_tell }}
  </div>
  <div style="margin-left: 25px;">
    ข้าพเจ้าได้อ่านรายละเอียดจากเอกสารข้อมูล และรับฟังคำอธิบายจากผู้ให้การรักษา รวมถึงความ
  </div>
  เสี่ยงผลข้างเคียง และ /หรือผลที่อาจจะเกิดขึ้นภายหลัง จนเป็นที่กระจ่างชัดแล้ว
  <div style="margin-left: 25px;">
    ข้าพเจ้าได้รับทราบข้อมูลจากแพทย์และหรือบุคลากรทางการแพทย์ว่า ข้าพเจ้าสามารถรับการ
  </div>
  <div>
    ดูแล รักษา โดยการแยกกักตัวที่บ้าน (Home Isolation : HI ) ร่วมกับการประสานการดูแลจากทีมบุคลากรทางการแพทย์ของสำนักงานสาธารณสุขจังหวัดพิษณุโลก  ผ่านระบบการสื่อสารทางไกล เช่น โทรศัพท์ สื่ออิเล็กทรอนิกส์ เป็นต้น  รวมทั้ง ได้รับทราบข้อมูลเกี่ยวกับภาวะเร่งด่วนที่ต้องเข้ารับการรักษาในโรงพยาบาลทันที
  </div>
  <div class="col-12" style="margin-left: 25px;">
    ข้าพเจ้ายินยอมรับการดูแล รักษา โดยการแยกกักตัวที่บ้าน (Home Isolation : HI ) จนถึงวันที่ {{ Home_Isolation_day }}
  </div>
  <div class="col-12">
    เดือน {{ Home_Isolation_month }} พ.ศ.2565 โดยจะปฏิบัติตามคำแนะนำทุกประการ เช่น วัดอุณหภูมิร่างกาย และ วัดค่าความอิ่มตัวของออกซิเจนในเลือด (Oxygen Saturation) ตามเวลาที่กำหนด แล้วแจ้งผลให้ทีมผู้ดูแลทราบทันที และได้รับทราบความเสี่ยงที่อาจเกิดขึ้น 
  </div>
  <div class="col-12" style="margin-left: 25px;">
    ข้าพเจ้ายินยอมให้ข้อมูลส่วนตัวด้านภาวะสุขภาพที่อาจมีผลต่อการดูแลรักษา แก่แพทย์และบุคลากร
  </div>
  <div class="col-12">
    ทางการแพทย์ที่เกี่ยวข้อง เช่น ภาวะตั้งครรภ์  โรคประจำตัว  เป็นต้น และในกรณีที่มีการเปลี่ยนแปลงของการ ตรวจวินิจฉัยหรือแผนการดูแลรักษา ข้าพเจ้ามีสิทธิ์ที่จะได้รับคำอธิบายเพิ่มเติม
  </div>
  <div class="col-12" style="margin-left: 25px;">
    ข้าพเจ้าขอแสดงความยินยอมรับการดูแล รักษา โดยการแยกกักตัวที่บ้าน (Home Isolation : HI) โดย
  </div>
  <div class="col-12">
    ความสมัครใจ ณ ที่นี้หาก มีการนำ ข้อมูลของข้าพเจ้าไปใช้ประโยชน์เพื่อการศึกษาวิจัยในอนาคต
  </div>
  <div class="row">
    <div class="col-6" style="text-align: center;">
      <label class="form-check-label " for="flexRadioDefault2">
        <input class="form-check-input m-1 " type="checkbox" value="" id="flexRadioDefault2" checked>
        ยินยอม
      </label>
    </div>
    <div class="col-6" style="text-align: center;">
      <label class="form-check-label " for="flexRadioDefault3">
        <input class="form-check-input m-1 " type="checkbox" value="" id="flexRadioDefault3" checked>
        ไม่ยินยอม
      </label>
    </div>
  </div>
  <div class="row">    
    <div class="col">
      <div style="margin-top: 10%;">
        <label class="text-body-input"> &nbsp; &nbsp; &nbsp;
            &nbsp;
            (ลงชื่อ)........................................</label><br>
        <label class="text-body-input">&nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; ({{ name_sickness }})</label><br>
            <label class="text-body-input"> &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              ผู้ป่วย/ผู้แทนโดยชอบธรรมของผู้ป่วย</label>
      </div>
    </div>
    <div class="col">
      <div style="margin-top: 10%;">
        <label class="text-body-input"> &nbsp; &nbsp; &nbsp;
            &nbsp;
            (ลงชื่อ)........................................</label><br>
        <label class="text-body-input">&nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; ({{ name_doctor }})</label><br>
            <label class="text-body-input"> &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              แพทย์/พยาบาล</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div style="margin-top: 10%;">
          <label class="text-body-input"> &nbsp; &nbsp; &nbsp;
              &nbsp;
              (ลงชื่อ)........................................</label><br>
          <label class="text-body-input">&nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; (........................................)</label><br>
              <label class="text-body-input"> &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                พยาน</label>
        </div>
    </div>
    <div class="col">
        <div style="margin-top: 10%;">
          <label class="text-body-input"> &nbsp; &nbsp; &nbsp;
              &nbsp;
              (ลงชื่อ)........................................</label><br>
          <label class="text-body-input">&nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; (........................................)</label><br>
              <label class="text-body-input"> &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                พยาน</label>
        </div>
      </div>
  </div>
  
  
</div>